#gfold-1 {
    background-image: url("./../img/mainDashboard/ghee/ghee1.jpg") !important;
    padding: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#gfold-2 {
    background-image: url("./../img/mainDashboard/ghee/ghee2.jpg") !important;
    padding: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}