* {
    font-family: 'Roboto', sans-serif;
}

#TopHeaderMenu {
    background-color: coral;
}

#TopHeaderMenu p {
    margin: 0;
}

#fold-1 {
    background-image: url("./../img/mainDashboard/1.jpg") !important;
    padding: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#fold-2 {
    background-image: url("./../img/mainDashboard/2.jpg") !important;
    padding: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#fold-3 {
    background-image: url("./../img/mainDashboard/3.jpg") !important;
    padding: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#fold-4 {
    background-image: url("./../img/mainDashboard/4.jpg") !important;
    padding: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#fold-5 {
    background-image: url("./../img/mainDashboard/5.jpg") !important;
    padding: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#fold-6 {
    background-image: url("./../img/mainDashboard/6.jpg") !important;
    padding: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#fold-7 {
    background-image: url("./../img/mainDashboard/7.jpg") !important;
    padding: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#fold-8 {
    background-image: url("./../img/mainDashboard/8.jpg") !important;
    padding: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-1 {
    position: relative;
    z-index: 1;
    padding: 2rem;
    text-shadow: 5px 5px 15px black;
}

#text-headering{
    text-shadow: 5px 5px 15px black;
}

label{
    font-weight: 600;       
    text-shadow: 5px 5px 15px black;
}

/** footer */

/*FOOTER*/

footer {
    background: coral;
    background: -webkit-linear-gradient(59deg, rgb(115, 90, 58), rgb(73, 62, 45));
    background: linear-gradient(59deg, rgb(247, 71, 7), rgb(230, 112, 28));
    color: white;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: coral;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: coral;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color:coral;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }
  