* {
    font-family: 'Roboto', sans-serif;
}

#TopHeaderMenu {
    background-color: coral;
}

#TopHeaderMenu p {
    margin: 0;
}

#fold-1 {
    background-image: url("./../img/mainDashboard/1.jpg") !important;
    padding: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#fold-2 {
    background-image: url("./../img/mainDashboard/2.jpg") !important;
    padding: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#fold-3 {
    background-image: url("./../img/mainDashboard/3.jpg") !important;
    padding: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#fold-4 {
    background-image: url("./../img/mainDashboard/4.jpg") !important;
    padding: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#fold-5 {
    background-image: url("./../img/mainDashboard/5.jpg") !important;
    padding: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#fold-6 {
    background-image: url("./../img/mainDashboard/6.jpg") !important;
    padding: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#fold-7 {
    background-image: url("./../img/mainDashboard/7.jpg") !important;
    padding: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#fold-8 {
    background-image: url("./../img/mainDashboard/8.jpg") !important;
    padding: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-1 {
    position: relative;
    z-index: 1;
    padding: 2rem;
    text-shadow: 5px 5px 15px black;
}

#text-headering{
    text-shadow: 5px 5px 15px black;
}

label{
    font-weight: 600;       
    text-shadow: 5px 5px 15px black;
}